
<div>
    <form action="la que sea" method="post">
          Nombre: <input type="text" name="nombre"><br>
          precio: <input type="text" name="nombre"><br>
          <input type="submit">
    </form>      
</div>